!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
    %head
        %link{:type => "text/css", :rel =>"stylesheet", :href => "/assets/common_#{Time.now().to_i}.css?"}
        %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
        %link(rel="shortcut icon" href="image/favicon.ico")
        
    %body
        #badge
            %img(src="/image/badge2_#{Time.now().to_i}.png")
        #container
            .topbar(data-scrollspy="scrollspy")
                .topbar-inner
                    .container
                        %a.brand(href="#") NabAlive !
                        %ul.nav.showLogout.hide
                            %li
                                %a(href="#nabaztag/list")Nabaztags
                            %li
                                %a(href="#applications")Applications
                            %li
                                %a(href="#nab2nabs")Nab2Nabs
                            %li
                                %a(href="#doc")Documentation
                        %ul.nav.right
                            %li.showLogin.hide
                                %a.clickable.small(data-controls-modal="registermodal" data-backdrop="true" data-keyboard="true")Register
                            %li.showLogin.hide
                                %a.clickable.small(data-controls-modal="loginmodal" data-backdrop="true" data-keyboard="true")Login
                            %li.showLogout.hide
                                %a(href="#logout")Logout
                            %li 
                                %a#connected []
                #login
            #header
            #content.container
            #footer.container
                %hr
                %a(href="http://store.karotz.com")
                    .logo
                        %img(src="/image/karotz.png")
                    .info
                          
        #info
        #modals

        %script{:type => "text/javascript", :src  => "/assets/lib_#{Time.now().to_i}.js"}
        %script{:type => "text/javascript", :src  => "/assets/template_#{Time.now().to_i}.js"}
        %script{:type => "text/javascript", :src  => "/assets/app_#{Time.now().to_i}.js"}
        :javascript
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1467538-50']);
            _gaq.push(['_trackPageview']);
            
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = '/assets/ga_#{Time.now().to_i}.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
